<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				&copy 2012-{{ 'now' | date: "%Y" }} <a href="#intro" class="scroll-to"><strong class="display-font h4">wevelo</strong></a>
				<br>
				<a href="http://www.freepik.com" class="attribution">Thank you Graphiqastock / Freepik</a>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="services_modal" tabindex="-1" role="dialog" aria-labelledby="services_modal" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="more-info-top">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<nav class="nav nav-pills flex-column flex-sm-row">
					<a class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab" href="#services-tab" role="tab">Services</a>
					<a class="flex-sm-fill text-sm-center nav-link" data-toggle="tab" href="#about-tab" role="tab">About Our Founder</a>
				</nav>
			</div>
			<div class="modal-body">
				<div class="tab-content">
					<div id="services-tab" class="tab-pane fade show more-info-text active">
						<h3 class="display-font">Our Services</h3>
						<p>Wevelo uses design to help our clients grow their brands, launch products and build cool stuff. We accomplish all this by offering an extensive array of strategy, design and digital services.</p>
						<h5>Things we do</h5>
						<div class="row">
							<div class="col-sm-6">
								<ul class="list-unstyled">
									<li>- Graphic Design</li>
									<li>- Web Design</li>
									<li>- UX Design</li>
									<li>- Social Media Advertising / PPC</li>
									<li>- SEO</li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul class="list-unstyled">
									<li>- Brand Strategy</li>
									<li>- Web Development</li>
									<li>- Competitive Research</li>
									<li>- E-commerce Integration</li>
									<li>- Analytics</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="about-tab" class="tab-pane fade show more-info-text">
						<div class="container">
							<div class="row">
								<div class="col-sm-6 bio text-center">
									<img src="assets/images/bryan.png" alt="Web Designer Graphic Designer small business" class="img-responsive img-thumbnail">
								</div>
								<div class="col-sm-6 bio">
									<h5>Bryan Hatfield</h5>
									<h5><small class="text-muted">Founder/Full Stack Designer</small></h5>
									<p>With over a decade of experience in web, graphic and digital marketing, Bryan loves his job and strives to make a better world one mouse click or code snippet at a time. When he is not designing, market researching, coding or making other cool stuff, he is spending time with his beautiful wife and two kids, Levi and Lily.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Scripts	 -->
<script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Font Awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="{{ 'assets/js/jquery.parallax.js' | relative_url }}"></script>
<script src="{{ 'assets/js/main.js' | relative_url }}"></script>