<div class="divider-image">
	<div class="container">
		<div class="row align-items-center">
			<div class="container">
				<div class="col-sm-6 mx-auto text-center">
					<h1 class="display-font">Ready to get started?</h1>
				</div>
			</div>
			<div class="col-sm-6 text-center">
				<img src="css/images/dog.png" title="Northern Colorado Website Designer" alt="Northern Colorado Website Designer" class="img-fluid animated bounce infinite">
			</div>
			<div class="col-sm-6 text-center">
				<a href="#contact" class="btn btn-lg btn-purple scroll-to"><strong>Lets get to know one another!</strong></a>
				<p>or give us a call at</p>
				<h2><a class="phone" href="tel:719-602-0444">(719) 602-0444</a></h2>
			</div>
		</div>
	</div>
</div>